@font-face {
    font-family: universal-thin;
    src: url(../fonts/Poppins-Thin.ttf);
}

/* For Tablets */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	*{
		font-family: universal-thin;
		font-weight: bold;
	}
	.navbar {
        border-radius: 0px;
        background: #99ccff;
        border-color: #99ccff;
        padding-top: 5px;
        font-size: 38px;
        height: 60px; 
    }
    .navbar-toggle {
        background: transparent !important;
        border: 1px solid transparent !important;
    }
    .icon-bar {
        background: black !important;
    }
    .navbar-brand {
        font-family: cursive-new;
        font-size: 32px;
        color: white !important;
        font-weight: bolder;

        letter-spacing: 1px;
        word-spacing: 5px;
    }.navbar {
        border-radius: 0px;
        background: #99ccff;
        border-color: #99ccff;
        padding-top: 5px;
        font-size: 38px;
        height: 70px; 
    }
    .navbar-toggle {
        background: transparent !important;
        border: 1px solid transparent !important;
    }
    .icon-bar {
        background: black !important;
    }
    .navbar-brand {
        font-family: cursive-new;
        font-size: 32px;
        color: white !important;
        font-weight: bolder;

        letter-spacing: 1px;
        word-spacing: 5px;
    }
	.card {
		height: 800px;
		background: white;
		box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
		border-radius: 0px;
		width: 80%;
		margin-left: 10%;
		margin-top: 30px;
	}
	fieldset {
		width: calc(80% - 30px) !important;
		padding: 0 15px 0 15px !important;
	}
	fieldset p {
		margin: 30px 0 30px 0;
		font-size: 12px;
	}
	#msform {
    	background: white;
	}
	ul, li{
	    margin-top: 15px;
	    list-style-type: none !important;
	    margin: 0px;
	    padding: 0px;
	}
	li {
	    margin-top: 15px;
	    text-align: center;
	}
	fieldset {
	    box-sizing: border-box;
	    position: absolute;
	    background: white;
	}
	fieldset:not(:first-of-type) {
	    display: none;
	}
	.center {
	    text-align: center;
	}
	fieldset h1 {
	    font-size: 36px;
	    font-style: normal;
	    margin-bottom: 20px;
	    font-family: universal-thin;
	    font-weight: bold;
	    margin-top: 45px;
	    margin-bottom: 45px;
	}
	fieldset label {
	    font-size: 16px;
	    margin-left: 10%;
	    font-family: universal;
	}
	fieldset p {
		margin-top: 45px;
	}
	.half-day, .full-day {
	    background: lightgrey;
        border: none;
        height: 30px;
        width: 80px;
        margin-left: 5px;
        border-radius: 5px;
        border: none !important;
	}
	.half-day.active, .full-day.active {
	    background: #99ccff;
	    color: white;
	}
	fieldset input[type="text"], fieldset input[type="number"], select, fieldset input[type="date"] {
	    width: 80%;
	    height: 60px;
	    border: none;
	    border-bottom: 1.5px solid lightgrey;
	    font-size: 13.5px;
	    padding-left: 10px; 
	    padding-top: 10px;
	    margin-left: 10%;
        border-radius: 5px;
	}
	fieldset input:focus, select:focus {
	    outline: none;
	    border-bottom: 1.5px solid #99ccff;
	}
	fieldset input[type="button"].next,fieldset input[type="submit"] {
	    width: 100px;
	    background: #99ccff;
	    border: none;
	    color: white;
	    border-radius: 5px;
	    height: 40px;
	    float: right;
	    margin-right: 15px;
	}
	fieldset input[type="button"].previous {
	    width: 100px;
	    background: #333333;
	    color: white;
	    border: none;
	    border-radius: 5px;
	    height: 40px;
	    float: left;
	    margin-left: 15px;
	}
	fieldset:nth-child(4) label {
	    margin-top: 0;
	    line-height: 28px;
	}
	fieldset:nth-child(4) input[type="text"] {
	    margin-top: -10px;
	    margin-bottom: 10px !important;
	}
	 
	fieldset input[type="button"].previous, fieldset input[type="button"].next, fieldset input[type="submit"] {
	    float: bottom !important;
	    bottom: 15px !important;
	    top: 650px !important;
	    position: absolute;
	}
	fieldset input[type="button"].previous {
	    float: left;
	    left: 20px;
	}
	fieldset input[type="button"].next, fieldset input[type="submit"] {
	    float:right;
	    right: 15px;
	}

	#progressbar {
	    margin-bottom: 10px;
	    overflow: hidden;
	    counter-reset: step;
	}
	#progressbar li {
	    list-style-type: none;
	    color: lightgrey;
	    text-transform: capitalize;
	    font-size: 10.5px;
	    letter-spacing: 0.25px;
	    width: 25%;
	    float: left;
	    position: relative;
	    background: white;
	}
	#progressbar li:before {
	    content: counter(step);
	    counter-increment: step;
	    width: 15px;
	    line-height: 15px;
	    display: block;
	    font-size: 10px;
	    color: lightgrey;
	    background: lightgrey;
	    border-radius: 50%;
	    margin: 0 auto 5px auto;
	}
	#progressbar li:after {
	    content: '';
	    width: 100%;
	    height: 2px;
	    background: lightgrey;
	    position: absolute;
	    left: -50%;
	    top: 6px;
	    z-index: 1;
	}
	#progressbar li:first-child:after {
	    content: none;
	}
	#progressbar li.active:before, #progressbar li.active:after {
	    background: #99ccff;
	    color: #99ccff;
	}
	#progressbar li.active:before, #progressbar li.active:after, #progressbar li.active {
	    color: #99ccff;
	    font-family: universal;
	    letter-spacing: 0.5px;
	    font-size: 0.8em;
	}
}

/* For Mobile phones */
@media only screen and (max-width: 479px) {
	*{
		font-family: universal-thin;
		font-weight: bold;
	}
	.navbar {
        border-radius: 0px;
        background: #99ccff;
        border-color: #99ccff;
        padding-top: 5px;
        font-size: 38px;
        height: 40px; 
    }
    .navbar-toggle {
        background: transparent !important;
        border: 1px solid transparent !important;
    }
    .icon-bar {
        background: black !important;
    }
    .navbar-brand {
        font-family: cursive-new;
        font-size: 32px;
        color: white !important;
        font-weight: bolder;

        letter-spacing: 1px;
        word-spacing: 5px;
    }.navbar {
        border-radius: 0px;
        background: #99ccff;
        border-color: #99ccff;
        padding-top: 5px;
        font-size: 38px;
        height: 70px; 
    }
    .navbar-toggle {
        background: transparent !important;
        border: 1px solid transparent !important;
    }
    .icon-bar {
        background: black !important;
    }
    .navbar-brand {
        font-family: cursive-new;
        font-size: 32px;
        color: white !important;
        font-weight: bolder;

        letter-spacing: 1px;
        word-spacing: 5px;
    }
	.card {
		height: 500px;
		background: white;
		box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
		border-radius: 0px;
	}
	fieldset {
		width: calc(100% - 30px) !important;
		padding: 0 15px 0 15px !important;
	}
	fieldset p {
		margin: 30px 0 30px 0;
		font-size: 12px;
	}
	#msform {
    background: white;
	}
	ul, li{
	    margin-top: 15px;
	    list-style-type: none !important;
	    margin: 0px;
	    padding: 0px;
	}
	li {
	    margin-top: 15px;
	    text-align: center;
	}
	fieldset {
	    box-sizing: border-box;
	    position: absolute;
	    background: white;
	}
	fieldset:not(:first-of-type) {
	    display: none;
	}
	.center {
	    text-align: center;
	}
	fieldset h1 {
	    font-size: 26px;
	    font-style: normal;
	    margin-bottom: 20px;
	    font-family: universal-thin;
	    font-weight: bold;
	}
	fieldset label {
	    font-size: 16px;
	    margin-left: 26px;
	}
	.half-day, .full-day {
	    background: lightgrey;
        border: none;
        height: 30px;
        width: 80px;
        margin-left: 5px;
        border-radius: 5px;
        border: none !important;
	}
	.half-day.active, .full-day.active {
	    background: #99ccff;
	    color: white;
	}
	fieldset input[type="text"], fieldset input[type="number"], select, fieldset input[type="date"] {
	    width: 80%;
	    height: 45px;
	    border: none;
	    border-bottom: 1.5px solid lightgrey;
	    font-size: 13.5px;
	    padding-left: 10px; 
	    padding-top: 10px;
	    margin-left: 10%;
        border-radius: 5px;
	}
	fieldset input:focus, select:focus {
	    outline: none;
	    border-bottom: 1.5px solid #99ccff;
	}
	fieldset input[type="button"].next,fieldset input[type="submit"] {
	    width: 100px;
	    background: #99ccff;
	    border: none;
	    color: white;
	    border-radius: 5px;
	    height: 40px;
	    float: right;
	    margin-right: 15px;
	}
	fieldset input[type="button"].previous {
	    width: 100px;
	    background: #333333;
	    color: white;
	    border: none;
	    border-radius: 5px;
	    height: 40px;
	    float: left;
	    margin-left: 15px;
	}
	fieldset:nth-child(4) label {
	    margin-top: 0;
	    line-height: 28px;
	}
	fieldset:nth-child(4) input[type="text"] {
	    margin-top: -10px;
	    margin-bottom: 10px !important;
	}
	 
	fieldset input[type="button"].previous, fieldset input[type="button"].next, fieldset input[type="submit"] {
	    float: bottom !important;
	    bottom: 15px !important;
	    top: 365px !important;
	    position: absolute;
	}
	fieldset input[type="button"].previous {
	    float: left;
	    left: 15px;
	}
	fieldset input[type="button"].next, fieldset input[type="submit"] {
	    float:right;
	    right: 15px;
	}

	#progressbar {
	    margin-bottom: 10px;
	    overflow: hidden;
	    counter-reset: step;
	}
	#progressbar li {
	    list-style-type: none;
	    color: lightgrey;
	    text-transform: capitalize;
	    font-size: 10.5px;
	    letter-spacing: 0.25px;
	    width: 25%;
	    float: left;
	    position: relative;
	    background: white;
	}
	#progressbar li:before {
	    content: counter(step);
	    counter-increment: step;
	    width: 15px;
	    line-height: 15px;
	    display: block;
	    font-size: 10px;
	    color: lightgrey;
	    background: lightgrey;
	    border-radius: 50%;
	    margin: 0 auto 5px auto;
	}
	#progressbar li:after {
	    content: '';
	    width: 100%;
	    height: 2px;
	    background: lightgrey;
	    position: absolute;
	    left: -50%;
	    top: 6px;
	    z-index: 1;
	}
	#progressbar li:first-child:after {
	    content: none;
	}
	#progressbar li.active:before, #progressbar li.active:after {
	    background: #99ccff;
	    color: #99ccff;
	}
	#progressbar li.active:before, #progressbar li.active:after, #progressbar li.active {
	    color: #99ccff;
	    font-family: universal;
	    letter-spacing: 0.5px;
	    font-size: 0.8em;
	}
}